    .title {
      font-family: "Righteous";
      font-size: 2.5rem;
      position: absolute;
      z-index: 1000;
      -webkit-text-fill-color: rgb(17, 147, 203); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
    .title-top {
      /* top: 395px; */
      /* text-shadow: 4px 4px #4343437e; */
      padding-left: 132px;
      /* left: 376px; */
      top: 301px;
      transform: rotate(-27deg) skew(30deg);
    }
    .title-bottom {
      top: 560px;
      text-shadow: 6px 6px #bbbbbb;
    }
    .title-left {
      top: 420px;
      left: 330px;
      text-shadow: -6px 6px #bbbbbb;
      transform: rotate(-90deg);
    }
    .title-right {
      top: 420px;
      right: 330px;
      text-shadow: 6px -6px #bbbbbb;
      transform: rotate(90deg);
    }
    img {
        height: 92px;
        width: auto;
    }

    .img-container {
        padding: 100px 0;
        width: 500px;
        position: relative;
    }

    .img-container > h2 {
        position: relative;
        top: -150px;
        z-index: 2000;
    }

    #a {
        z-index: 20;
    position: absolute;
    left: 257px;
    top: 173px;
    }
    #b {
        z-index: 10;
    position: absolute;
    left: 408px;
    top: 110px;
    transform: scaleX(-1);
     }
    #c {
        z-index: 10;
    position: absolute;
    left: 353px;
    top: 132px;
     }
    #d {
        z-index: 5;
        position: absolute;
        left: 245px;
        top: 16px;
    }
    #e {
        z-index: 50;
        position: absolute;
        left: 189px;
        top: 124px;
     }
    #f {
        z-index: 100;
    position: absolute;
    left: 172px;
    top: 213px;
    }
    #g {
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 20px;
     }
    #h {
        z-index: 80;
    position: absolute;
    left: 228px;
    top: 195px;
     }
    #i {
        z-index: 140;
    position: absolute;
    left: 30px;
    top: 275px;
    transform: scaleX(-1);
     }
    #j {
        z-index: 1;
        position: absolute;
        left: 330px;
        top: 0;
    }
    #k {
        z-index: 1;
    position: absolute;
    left: 315px;
    top: 160px;
    }
    #l {
        z-index: 4;
        position: absolute;
        left: 161px;
        top: 2px;
    }
    #m {
        z-index: 130;
        position: absolute;
        left: 263px;
        top: 172px;
    }
    #n {
        z-index: 1;
        position: absolute;
        left: 431px;
        top: 70px;
    }
    #o {
        z-index: 10;
        position: absolute;
        left: 20px;
        top: 86px;
    }

    #p {
        z-index: 120;
    position: absolute;
    left: 102px;
    transform: scaleX(-1);
    top: 235px;
    }

    .foo {

        /* margin-top: 200px; */
        text-align: center;
        display: flex;
        justify-content: center;

    }

    body {
        /* background-image: url('images/giphy.gif'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: rgb(128, 128, 128)   */
    }

    .red {
        -webkit-text-fill-color: rgb(244, 60, 4) !important;
        /* text-shadow: 4px 4px #434343ba; */
    }

    .blurb {
        margin-top: 250px;
    }
